@media (min-width: 1024px) {
  .first {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1182px;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 22px;
    padding-top: 150px;
    line-height: 2rem;
    margin: 16px 0 0 0;
  }
  h1 {
    font-size: 3.7rem;
    padding: 0 0 20px 0;
  }
  p {
    line-height: 2.4rem;
  }
  /* img {
    display: block;
    vertical-align: middle;
  } */
  .left {
    padding-top: 130px;
    font-size: 1.6rem;
  }
}
.glow-1 {
  background-color: rgba(255, 183, 198, 0.35);
}
.glow-2 {
  background-color: hsla(58, 95%, 75%, 0.35);
}
.glow-3 {
  background-color: rgba(85, 230, 150, 0.35);
}
.bdy-1 {
  display: flex;
}
.right-imgs {
  display: flex;
}
.phone-img {
  width: 50%;
  height: 454px;

  display: flex;
}
.iphone {
  position: absolute;
  z-index: 2;
  right: 118px;
  height: 565px;
  width: auto;
  float: inherit;
}
.inn {
  padding: 10px 0 0 0;
  right: 133px;
  height: 560px;
  width: auto;
  position: absolute;

  z-index: 1;
  float: inherit;
}
.ppr {
  position: absolute;
  height: 287px;
  display: flex;
  z-index: 0;
  right: 340px;
  margin: 110px 0 0 0;
}
.ppr-black {
  position: relative;
  height: 287px;
  display: flex;
  left: 535px;
  z-index: 3;
  margin: 70px 0 0 0;
}
